@import "variables";
@import "breakpoint";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";

// settings page wrapper
.src-wrap {
    
    hr {
        margin: 18px 0 16px;
        border-style: dotted;
    }
    
    hr.thick {
        border-style: solid;
        border-color: #ccc;
    }
    
	// settings box
	.settings_box {
	
    	width: 100%;
    	padding: 16px 16px 0;
    	margin-top: 16px;
    	background-color:#fff;
    	
    	@include border-radius( 5px );
        @include single-box-shadow( 0, 3px, 0, 0, #dbdbdb );
        @include box-sizing( "border-box" );
        
        h3 {
        	margin: 0;
        	text-transform: uppercase;
    	}
    	
    	h4 {
        	margin: 16px 0 6px; 
        	text-transform: uppercase;
    	}
    	
    	p {
        	margin: 6px 0 16px;
        	text-transform: none;
    	}
    	
    	p:last-child {
        	margin-bottom: 0;
    	}
    	
    	code {
        	background-color: transparent;
            padding: 0;
            font-weight: normal;
    	}
    	
    	// config form
    	.settings_form {
    	
        	label {
            	display: inline-block;
            	margin: 6px 0;
        	}
        	
        	.src-cb {
            	margin-right: 8px;
        	}
        	
        	label.fixed-width {
            	width: 110px;
        	}
        	
        	input[type=text] {
            	width: 50px;
        	}
        	
        	@include breakpoint( max-width $mobile ) {
            	
            	.src-cb {
                	display: block;
            	}
            	
        	}
        	
    	}
    	
	}
	
	.donation-box {
	
    	background-color: #fff;
    	padding: 16px;
    	margin-top: 16px;
    	@include border-radius( 5px );
    	@include single-box-shadow( 0, 3px, 0, 0, #dbdbdb );
    	
    	p:first-child {
        	margin-top: 0;
    	}
    	
    	.callout:last-child {
        	margin-bottom: 0;
    	}
    	
	}
	
	// callouts
	.callout {
	
    	padding: 3px 6px;
    	margin: 16px 0;
    	border-left: solid 4px $callout-border;
    	background-color: $callout-bg;
    	@include box-sizing( "border-box" );
	}
	
	.callout.info {
    	border-color: $callout-info-border;
    }
    
    .callout.warning {
    	border-color: $callout-warning-border;
    }
    
    .callout.danger {
	    border-color: $callout-danger-border;
    }
    
    .callout.success {
        border-color: $callout-success-border;
    }
    
}