$mobile: 1010px;
$callout-border: #dfdfdf;
$callout-bg: #f8f8f8;
$callout-info-border: #00aeff;
$callout-info-bg: #e6f7ff;
$callout-warning-border: #ff9200;
$callout-warning-bg: #fffce7;
$callout-danger-border: #ff2700;
$callout-danger-bg: #ffe9e6;
$callout-success-border: #00cc00;
$callout-success-bg: #e6fae6;