#system-requirements-check-form h3 {
	margin: 10px 0;
	margin: 1rem 0;
}
#system-requirements-check-form p {
	margin: 8px 0;
	margin: .8rem 0;
}
#system-requirements-check-form label {
	display: inline-block;
	margin: 0 5px 5px 0;
	margin: 0 .5rem .5rem 0;
}
#system-requirements-check-form label.fixed-width {
	width: 70px;
	width: 7rem;
}
#system-requirements-check-form input[type=text] {
	width: 50px;
	width: 5rem;
}