@import url('../font/systemrequirementscheckfonts.css');

.system_req_check .callout {
	border-left: solid 4px #b1b1b1;
	padding: 3px 6px;
	background-color: #f8f8f8;
	box-sizing: border-box;
}
.system_req_check .callout.success {
	border-color: #56cd00;
	background-color: #f1ffe7;
}
.system_req_check .callout.info {
	border-color: #00aeff;
	background-color: #dff5ff;
}
.system_req_check .callout.warning {
	border-color: #ff8100;
	background-color: #ffe4c1;
}
.system_req_check .callout .warning {
	color:#ff8100;
}
.system_req_check .callout.danger {
	border-color: #ff2700;
	background-color: #ffe0da;
}
.system_req_check .callout p,
.system_req_check .callout ul {
    margin: 5px 0;
}
.system_req_check span[class^="icon-"].big,
.system_req_check span[class*=" icon-"].big {
    display: inline-block;
	font-size: 200%;
	vertical-align: bottom;
	margin-right: 10px;
}
#deployJavaPlugin {
    display: none;
}