@import url('../font/systemrequirementscheck.css');

.system_req_check .callout {
	border-left: solid 4px #b1b1b1;
	padding: 3px 6px;
	background-color: #f8f8f8;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.system_req_check .callout.success {
	border-color: #56cd00;
	background-color: #caffa4;
}
.system_req_check .callout.success ul.os,
.system_req_check .callout.success ul.browser {
    padding: 0;
    margin: 0;
    border-top:1px solid #94c96d;
}
.system_req_check .callout.success ul.os li,
.system_req_check .callout.success ul.browser li {
	display: inline;
	padding: 0;
	margin: 0 10px 0 0;
	color:#94c96d;
	/* font-size: smaller; */
}
.system_req_check .callout.info {
	border-color: #00aeff;
	background-color: #dff5ff;
}
.system_req_check .callout.warning {
	border-color: #ff8100;
	background-color: #ffe4c1;
}
.system_req_check .callout .warning {
	color:#ff8100;
}
.system_req_check .callout.danger {
	border-color: #ff2700;
	background-color: #ffe0da;
}
.system_req_check .callout p,
.system_req_check .callout ul {
    margin: 5px 0;
}
.system_req_check .callout ul.os,
.system_req_check .callout ul.browser {
    margin: 0;
    padding: 0;
    list-style: none;
}
.system_req_check .callout ul.os li {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 40px;
}
.system_req_check .callout ul.browser li {
    display: block;
    margin: 0 0 16px 0;
    padding: 0 0 0 35px;
}
.system_req_check .callout ul.browser li:last-child {
    margin: 0;
}
.system_req_check span[class^="icon-"].big,
.system_req_check span[class*=" icon-"].big {
    display: inline-block;
	font-size: 200%;
	vertical-align: bottom;
	margin-right: 10px;
}
#deployJavaPlugin {
    display: none;
}