.src-wrap {
	float: left;
	clear:both;
}

.settings-box {
	width: 500px;
	background-color:#ffffff;
	padding:5px 20px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0px 3px 0px #dbdbdb;
	float:left;
}
.src-wrap h3 {
	margin: 10px 0;
	margin: 1rem 0;
}
.src-wrap p {
	margin: 8px 0;
	margin: .8rem 0;
}
.src-wrap p small {
	margin: 5px 0;
	margin: .5rem 0;
	font-style: italic;
	font-size: small;
}
#system-requirements-check-form label {
	display: inline-block;
	margin: 0 5px 5px 0;
	margin: 0 .5rem .5rem 0;
}
#system-requirements-check-form .src-cb {
	/* width: 108px; */
}
#system-requirements-check-form label.fixed-width {
	width: 70px;
	width: 7rem;
}
#system-requirements-check-form input[type=text] {
	width: 50px;
	width: 5rem;
}

.src-wrap .callout {
	border-left: solid 4px #b1b1b1;
	padding: 3px 6px;
	background-color: #f7f7f7;
}

.src-wrap .callout.info {
	border-left: solid 4px #00aeff;
}

.src-wrap .callout.warning {
	border-left: solid 4px #ff9200;
}

.todos-box,
.donation-box {
	width:200px;
	background-color:#ffffff;
	padding:5px 20px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	box-shadow: 0px 3px 0px #dbdbdb;
	float:left;
}

.todos-box ul {
	list-style: disc;
	padding-left: 25px;
}

@media screen and (max-width: 1010px) {
	.src-wrap {
		width:inherit;
		float: none;
	}
	.settings-box {
		float: none;
		width: inherit;
	}
	.todos-box,
	.donation-box {
		float: none;
		margin-left: 0;
		width: inherit;
	}
	#system-requirements-check-form .src-cb {
		display: block;
		width: auto;
	}
	#system-requirements-check-form .callout {
		width: inherit;
	}
}